@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');
/* global setting on all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* all elements */
body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
/* ------ Header -------- */
/* header is set to flex */
header {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 10vh;
  width: 100%;
}

/* set the background color for both header nd footer */
header, footer {
  background-color: #478ea3;
  color: #fff;
}

/* ------Main section ------- */
/* Set background color, flex and margins */
main {
  background-color: #e9df58;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 85vh;
  width: 100%;
}

/* ------ Input area ------ */
/* Set the border radius, background color, padding, flex width and height tosection around the input area */
main .dataInput {
  border-radius: 20px;
  background-color: #478ea3;
  box-shadow: 2px 2px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40vh;
  padding: 20px;
}

/* Set border, border radius, width font size and no resize to text input area  */
#textInput {
  border: 3px dashed #999;
  border-radius: 10px;
  width: 100%;
  resize: none;
  font-size: 30px;
  padding: 20px;
}

/* set border style, color, font size, and sizing */
input[type="submit"] {
  border: 3px solid rgb(47, 84, 155);
  background-color: #1a0d0d;
  color: wheat;
  outline: none;
  border-radius: 10px;
  font-size: 35px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

/* ------ Footer --------- */
/* Set footer to flex and set height, width nad padding */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:5vh;
  width: 100%;
  padding: 20px;

}

/* -- Screen size 1366px -- */
@media screen and (max-width: 1366px){
  main .dataInput {
  width: 80%;
  padding: 20px;
  }
}

/* -- Screen size 1025px -- */
@media screen and (max-width:1025px){
   header h1 {
    font-size: 30px;
  }

  main {
    height: 85vh;
  }

  main .dataInput {
  width: 80%;
  padding: 20px;
  height: 50vh;
  }
 
  footer p {
    font-size: 0.5rem;
  }

}


/* -- Screen size 815px -- */
@media screen and (max-width:815px){

   header h1 {
    font-size: 30px;
  }

  main{
    height: 80vh;
  }

  main .dataInput {
  width: 80%;
  height: 90%;
  padding: 20px;
  }
  
  input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  
  footer{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 35px;
  height:10%;
  }
}

/* -- Screen size 375px -- */
@media screen and (max-width:375px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  header {
    height: 10vh;
  }

  header h1 {
    font-size: 30px;
  }
  main {
    height: 90vh;
  }
  main .dataInput {
  
  width: 100%;
  padding: 20px;
  }

  input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  footer{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px;
  height:10%;
  }
}


